<!DOCTYPE html>
{%extends 'blogapp/base.html'%}
{%load static%}
{%block bodyblock%}
<link rel="stylesheet" href="{% static 'blogapp/home.css' %}">
<div class="content">
    <h2>Welcome to the Health Blog Platform</h2>
    <p>Our platform is dedicated to promoting health and wellness by providing a space for users to share articles, insights, and experiences on various health topics.</p>
    
    <h3>Explore Articles</h3>
    <p>Discover a wide range of articles covering topics such as nutrition, fitness, mental health, healthy lifestyle tips, and more.</p>
    
    <h3>Contribute Your Knowledge</h3>
    <p>Are you passionate about health and wellness? Share your expertise by submitting articles to our platform. Your contributions can inspire and educate others on their journey towards better health.</p>
    
</div>
{%endblock%}